doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Cover - Catering Services
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bulma.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/hero.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    section.hero.is-primary.is-small.header-image.backgroundcus
      .hero-head.navcus
        header.nav
          .container  
            .nav-left
              a.nav-item(href='/')
                img(src='/images/logo_white.png', alt='Logo')
            span.nav-toggle
              span
              span
              span
            .nav-right.nav-menu.navcus
              a.nav-item.is-active
                | Home
              a.nav-item(href='/contact')
                | Contact
              a.nav-item
                | About Us
  body
    section.hero.is-primary.is-small.header-image.backgroundcus
      .hero-body
        .container.has-text-centered.customtitle
            h1.title.is-2.titlefont
              | Big Mom
            h2.subtitle.is-5
              | Your one stop catering service.
        .tile.is-ancestor.customposition
          .tile.is-vertical.is-12
            .tile
              a.tile.is-parent(href=services[0].link)
                article.tile.is-child.notification.is-info.tilesbackground1
                  p.title 
                    | #{services[0].name}
                  p.subtitle .
                  figure.image.is-4by3
                    //img(src='http://placehold.it/640x480')
              .tile.is-parent.is-vertical
                  article.tile.is-child.notification.is-primary.tilesbackground2
                    a(href=services[1].link)
                      p.title
                        | #{services[1].name}
                      p.subtitle .
                  article.tile.is-child.notification.is-warning.tilesbackground3
                    a(href=services[2].link)
                      p.title
                        | #{services[2].name}
                      p.subtitle .
              
              
    
    footer.footer
      .container
        .content.has-text-centered
          p
            |  ©2016 COEN 3463 Team 11
          p
            a.icon(href='https://github.com/emnnipal/coen3463-m2t11')
              i.fa.fa-github
    script(async='', type='text/javascript', src='/javascripts/bulma.js')
